[submodule "edagames-quoridor"]
	path = edagames-quoridor
	url = git@github.com:evbeda/edagames-quoridor.git
	branch = main
[submodule "edagames-server"]
	path = edagames-server
	url = git@github.com:evbeda/edagames-server.git
	branch = main
[submodule "edagames-django"]
	path = edagames-django
	url = git@github.com:evbeda/edagames-django.git
	branch = main
[submodule "edagames-wumpus"]
	path = edagames-wumpus
	url = git@github.com:evbeda/edagames-wumpus.git
	branch = main
[submodule "edagames-react"]
	path = edagames-react
	url = git@github.com:evbeda/edagames-react.git
	branch = main
